
body {
  background-color: var(--Dark-Night-Sky-Clouds);
  /* background-image: url(picture_materials/Hogwarts-legacy-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

/*TITEL STYLING*/
header {
display: flex;
flex-direction: row;
justify-content: center;
background-color: var(--paper);
}
#TitelLine {
   text-decoration: none;
}
h1 {display: flex;
  flex-direction: row;
  justify-content: center;
 
    color: #000000}

#houseBanner, h3 {
  display: grid;
  justify-content: center;
}
h3{margin: 0; font-size: x-large;}

.buttons_and_dropdown{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  margin-top: 2vh;
}
.info_list {
  display: flex;
  justify-content: center ;
  margin-top: 2vh;
  color: #FF00FF;
}
.main_list {
display: grid;
grid-template-columns: repeat(4,1fr);
max-height: 100vh;
column-gap: 10px;
margin: 0px 10px 0px 10px;
}
/*FOR STUDENT LIST TO BE DISPLAYED*/
.main_list.studentList > div{
  grid-column: 2;
  grid-row: 1;
  height: max-content; 
  }
.main_list > div{
  margin-top: 20px;
  border: 5px solid black;
  height: 70vh;
  background-color: var(--paper);
  }

.hide {display: none;}  
 /* div.hide {display: none;} */

#GhouseCrest, #ShouseCrest, #HhouseCrest, #RhouseCrest {
  display: grid; justify-content: space-evenly; 

}
#GhouseCrest:hover, #ShouseCrest:hover, #HhouseCrest:hover, #RhouseCrest:hover {
 cursor: pointer;

}

#GhouseCrest.hide, #ShouseCrest.hide, #HhouseCrest.hide, #RhouseCrest.hide {
  display:none

}
#GhouseCrest, #GhouseCrest p{
  
  margin-top: auto;
  background-color: var(--gryfRed);
  border-color: var(--gryfGold);
  color: whitesmoke;
}
#ShouseCrest, #ShouseCrest p{
  margin-top: auto;
  background-color: var(--slytGreen);
  border-color: var(--slytSilver);
  color: whitesmoke;
}
#HhouseCrest, #HhouseCrest p{
  margin-top: auto;
  background-color: var(--huffYellow);
  border-color: var(--huffBlack);
  color: whitesmoke;
}
#RhouseCrest, #RhouseCrest p{
   margin-top: auto;
  background-color: var(--raveBlue);
  border-color: var(--raveBronze);
  color: whitesmoke;
}

 p {
  font-family: cursive;
  color:#111111;
}
#isExpelled { font-weight: bold;}

.main_list.studentList > p{
  display: flex;
  justify-content: start ;
  cursor: pointer;
}  

/*STUDENT LIST DISPLAY*/ 
.main_list.studentList p{
  width: 300px;
 cursor: pointer;
}
li {
  font-family: cursive;
  color:#111111;
  list-style: none;
  align-self: center;
}

 /*DETAILS*/
 .main_list.studentList > section{
  grid-column: 3; 
  }

  .main_list > section {
    
    height: 70vh;
    background-color: var(--paper);
  }

 .details {
  display: grid;
  border: 5px solid black;
  height: max-content;
  background-color: var(--paper); 
  /* change background color acc. to student's house */
   background-color: var(--paper);
   position: fixed;
   top: 25vh;
   left: 25vw;
   width: 50vw;
   height: 100vh;
   animation-name: animatetop;
   animation-duration: 0.4s
}

.details.hide{display:none}

.details > img{  justify-self: center;}

 .details > button, .notSquadMember >button {
  border: none;
   background-color: var(--paper);
   justify-self: start;
}
 .details > #close.hide {
  display:none;
 }
 #close:hover {
  background-color: orchid;
  cursor: pointer;
 }

 .details > .makePrefect{
  border: 1px solid var(--gryfGold);
   background-color: var(--paper);
   justify-self: start;
   cursor: pointer;
}
 .details .preferenceBtnFeatures button:hover{
  border: 1px solid var(--gryfGold);
   background-color: orchid;
   justify-self: start;
   cursor: pointer;
}
 
.makePrefect.hide {display: none}


/*bloodstatus*/
/*bloodDisplayIcon */
.studentListed, .bloodDetailsFlex, .houseDetailsFlex, .prefectFlex, .expelledStudentFlex ,.squadFlex{
 display: flex;
}
.studentListed > .bloodStatusImgDisplay ,
.studentListed > .prefectIconImgDisplay,
.bloodDetailsFlex > .bloodStatusImg,
.houseDetailsFlex > .houseEmblem, 
.prefectFlex > .prefectIcon,
.squadFlex > .squadIcon{
  margin-left: auto;
max-width: 50px;
}

/*REMOVE PREFECTS*/
.removePrefect {
  position: fixed;
  top: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 5px solid black;
  z-index: 1;
  background-color: var(--paper);
  left: 32%;
  align-items: center;
}

.removePrefect .buttonContainer {
  margin-top: 20px;
}
.removePrefect  button
{border: 1px solid black;
  background-color: var(--paper);
  justify-self: start;
  margin-bottom: 10px;
  cursor: pointer;}
.removePrefect  button:hover
{border: 1px solid black;
  background-color: orchid;
  justify-self: start;
  margin-bottom: 10px;
  cursor: pointer;}


.removePrefect.hide ,.notSquadMember.hide, .removeSquad.hide , .makeSquad.hide, .expellingStudent.hide{
  display: none;
}


/*INQ SQUAD PREVENT POPOP*/
.notSquadMember {
  position: fixed;
  top: 50%;
  left: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 5px solid black;
  z-index: 1;
  background-color: var(--paper);
}
 .notSquadMember >button {
  align-self: start;
  
  background-color: orchid;
 }
.notSquadMember .spanIcons{
  
    width: 50px;
}
/* BUTTON FOR PREFERENCES/RESPONSIBILITES/FEATURES */
.preferenceBtnFeatures {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.preferenceBtnFeatures button { 
  background-color: var(--paper);
  border: 1px solid black;
    cursor: pointer;
}
.preferenceBtnFeatures.hide {
  display: none;

}

.expelMeNot.hide, .notify.hide {
  display: none;
}
.expelMeNot {
  background-color: var(--paper);
  border: 5px solid black;
    cursor: pointer;
    z-index: 3;
    position: fixed;
    top: 53vh;
    left: 32vw;
}
.notify {
  background-color: var(--paper);
  border: 5px solid black;
    cursor: pointer;
    z-index: 3;
    position: fixed;
    top: 53vh;
    left: 32vw;
}
.expelMeNot button, .notify button {
   background-color: var(--paper);
   border: 1px solid black;
   justify-self: start;
}
.expelMeNot button:hover, .notify button:hover {
 background-color: orchid;
}

 @media screen and (max-width: 400px){
 *{margin: 0 auto}
  .main_list {
  grid-template-columns: repeat(2,1fr);
  margin: 0 auto
  }
  .main_list.studentList{
    grid-template-columns: 1fr;
  }
  .main_list.studentList>div {
    grid-column: 1;
  }
   /* .main_list div> p {
    display: none;
  }   */
  .buttons_and_dropdown{
    flex-direction: column;
    gap: 8px
  }
  #GhouseCrest img + p, #ShouseCrest img + p {
    grid-area: 1;
  }
  #GhouseCrest > img{
    width: 100%;
  }
  #GhouseCrest > p{
   position: relative;
   
  }
   /* .main_list #GhouseCrest > p, .main_list #ShouseCrest > p, .main_list #HhouseCrest > p, .main_list #RhouseCrest > p {
    grid-area: 1;
    position: relative;
  }  */
  .main_list.studentList > section {
    grid-column: 1;
      }
  .details.modal {
    position: fixed;
    left: 22px;
    top: 40px;
    z-index: 2;
  margin: auto;
  padding: 0;
  width: 80%;
  grid-column: 2;
    display: grid;
    justify-items: center;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
  }
  .notSquadMember {
    z-index: 3;
    position: fixed;
    left: 22px;
    top: 50px;
  }
  .removePrefect {
    z-index: 3
  }
 
}  @keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
/*COLORS*
/* Color Theme Swatches in Hex */
:root {
--Dark-Night-Sky-Clouds:   #0f244d; 
--paper: #ffebcd;
/* gryffindor color and accents */
--gryfRed: #ff2400;
--gryfGold: #FFD700;
/* slytherin color and accents */
--slytGreen: #118111;
--slytSilver: #c0c0c0;
/* hufflepuff color and accents */
--huffYellow: #e1ad01;
--huffBlack: #000000; 
/* ravenclaw color and accents */
--raveBlue: #4169e1;
--raveBronze: #CD7F32;
}

